$fullwidth: 100%;

.body-wrapper{
	background-color: #e5e5e5;
}
.bodycontent{
	background-color: #fff;
	 box-shadow: 10px 10px 5px #888888;
	 padding: 10px;
}
.slider{
	img{
		width: $fullwidth;
	}
}
.services{
	margin:10px;
}