//declare variable
$fullwidth: 100%;
$bordercolor: #ebccd1;

//using mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.body-wrapper{
	background-color: #e5e5e5;
}

//nesting
.bodycontent{
	background-color: #fff;
	 box-shadow: 10px 10px 5px #888888;
	 padding: 10px;
}
.slider{
	img{
		width: $fullwidth;
	}
}
.services{
	margin:10px;
}


.borderout { 
padding:10px;
border-style: outset;
 border-style: solid;
 border-width: 3px;
 border-color: $bordercolor;
@include border-radius(10px); }

.footer{
	background-color:#000;
	height: 50px;
	p{
		color:white;
		text-align:center;
	}
}